/* 
#5ec8ce
#dfe2e7
#E0786D
*/



/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

ol, ul {
    padding-left: 0px;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'LemonMilk';
    src: url(../fonts/LEMONMILK-Medium.otf) format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'LemonMilk T';
    src: url(../fonts/LEMONMILK-Light.otf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'HeptaSlab';
    src: url(../fonts/HeptaSlab-SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'HeptaSlab B';
    src: url(../fonts/HeptaSlab-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
}

h1, .h1Title {
    font-family: 'LemonMilk';
    font-size: 60px;
}

h2 {
    font-family: 'LemonMilk';
    font-size: 60px;
    color: grey;
}

/* NAVBAR */

.navbar-brand {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar-brand a img {
    width: 4vw;
}

.navbar-collapse {
    flex-grow:unset;
}

ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
    gap: 25px;
}

.navBar {
    background-color: white !important;
    box-shadow: 10px 10px 10px rgb(172, 172, 172);
    padding: 0px 8%;
    z-index: 1;
}

.navBarHome {
    box-shadow: 10px 10px 10px rgb(103, 103, 103);
}

.navbar-light .navbar-nav .nav-link {
    border-top: solid 3px transparent;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    border-top: solid 3px #5ec8ce;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #5ec8ce;
}

/* HOME */

.hero {
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-image: url(../images/home-ugarte.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.hero h1 {
    font-size: 8vw;
    font-family: 'LemonMilk';
    color: black;
    text-align: start;
}

.hero h1 span {
    display: block;
    color: white;
    font-size: 4vw;
    font-family: 'LemonMilk T';
    text-shadow: 0px 0px 10px black;
    margin-bottom: -15px;
}

.hero h2 {
    font-family: 'HeptaSlab';
    font-size: 2.05vw;
    color: black;
}

.heroIMG {
    display: none;
}

.description {
    padding: 70px 80px 90px;
    color: white;
    background: linear-gradient(#000000, #dfe2e7);
}

.description p {
    text-shadow: 0 0 0.2em rgb(0, 0, 0)
}

.descriptionHeader {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: -20px auto 40px;
    width: 520px;
}

.descriptionHeader h2 {
    z-index: 1;
    color: #dfe2e7;
}

.black {
    color: rgb(0, 0, 0)
}

.descriptionHeaderGif {
    width: 200px;
    position: absolute;
    left: 0px;
}

.descriptionHeaderGif img {
    border-radius: 100px;
}

.description h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'LemonMilk';
    font-size: 60px;
}

.descriptionP {
    max-width: 1000px;
    margin: 40px auto;
}

.description button {
    margin: 0px auto;
    border: none;
    background-color: transparent;
    transition: 1s;
    font-family: 'HeptaSlab B';
}

.description button:hover {
    transform: translateX(20%);
    transition: 1s;
}

.infograph {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    background-color: #dfe2e7;
    align-items: center;
}

.biographH2 {
    padding-top: 50px;
}

.infograph h2 {
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.infograph p, .productions p, .bibliograph p  {
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    color: rgb(136, 136, 136);
    font-family: 'HeptaSlab';
    max-width: 500px;
}

.biographIndex {
    background-color: #00000014;
    padding: 30px;
    border-radius: 10px;
    align-self: flex-start;
    width: 100%;
}

.biographIndex h2 {
    margin-top: 0px !important;
}

.biographIndex ol li {
    margin-top: 10px;
    list-style:decimal;
    padding-left: 10px;
}

.biographIndex ol li a {
    color: rgb(36, 36, 36);
    font-family: 'HeptaSlab';
}

.biographIndex ol {
    padding-left: 20px;
}

.infographContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.infographContainer article {
    width: 200px;
    transition: 1s;
}

.infographContainer article img {
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.infographContainer article:hover {
    transform: scale(1.1);
    transition: 1s;
}

.productions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.productions h2 {
    color: rgb(255, 255, 255);
}

.productions p {
    color: rgb(225, 225, 225);
    font-size: 18px;
    max-width: none;
}

.productionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.productions a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'HeptaSlab B';
    
    text-transform: uppercase;
    gap: 10px;
    color: black;
    background: radial-gradient(ellipse at top, rgb(255, 245, 224), transparent),
                radial-gradient(ellipse at bottom, rgb(241, 221, 180), transparent);
    width: 240px;
    height: 240px;
    border-radius: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.415);
    text-align: center;
    transition: 1s;
}

.productionsContainer a:hover {
    transform: scale(1.1);
    transition: 1s;
    backdrop-filter: grayscale(300%);
    background-color: rgb(255, 255, 255);
}

.productionsContainer:hover > :not(:hover), .infographContainer:hover > :not(:hover)  {
    opacity: .5;
}

.productions a div {
    width: 100px;
}

.carouselContainer {
    background-color: #ffffff;
    padding: 50px 0;
}

.carousel {
    width: 60%;
    margin:auto;
    border-radius: 10px;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-control-next {
    right: -10%;
}

.carousel-control-prev {
    left: -10%;
}

.carousel-control-next-icon {
    background-image: url(../images/arrow.svg);
}

.carousel-control-prev-icon {
    background-image: url(../images/arrow-prev.svg);
}

.carousel-caption.d-none.d-md-block {
    background-color: #5ec8ce;
    width: 100%;
    margin: 0px;
    position: static;
    color: black;
}

#carouselExampleCaptions {
    box-shadow: 0px 0px 10px #0000009c;
}

.carousel-caption.d-none.d-md-block p {
    margin: 20px 0 50px;
    font-family: 'HeptaSlab';
    color: black;
    font-size: 19px;
}

.carousel-indicators [data-bs-target] {
    background-color: rgba(0, 0, 0, 0.749);
}

/* FOOTER */

footer {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#dfe2e7, #d1d1d1, #5ec8ce8a, #5ec8ce, #4ea5aa);
}

footer a {
    color: black;
}

footer a:hover {
    font-weight: 600;
    color: black;
}

footer h3 {
    font-family: 'LemonMilk';
    font-size: 21px;
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 0px
}

.footerOne {
    color: #000000;
    padding: 60px 80px 40px;
    width: 100%;
}

.footerOne a {

    font-weight: 600;
    text-decoration: underline;
}

.footerOneContainer {
    margin-top: 50px;
}

.footerOneContainer div {
    margin-bottom: 30px;
    line-height: 2;
}

.footerOneContainerFirst {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    line-height: 2;
    justify-content: flex-start;
    align-items: flex-start;
}

.footerOneContainerSecond {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
}

.footerOneCopy {
    margin: 30px 0 15px;
    font-size: 15px;
}

.footerTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 40px 80px;
}

.subMenu {
    padding-left: 20px;
}

.footerThree {
    text-align: center;
    padding-bottom: 40px;
}

.footerThreeRedes {
    display: flex;
    justify-content: center;
    gap: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.footerThreeCopy {
    font-size: 14px;
    margin-top: 20px;
}


/**** OTHER PAGES ****/

.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.encabezado img {
    width: 200px;
    margin-right: 40px !important;
}

.encabezado .encabezadoIMG {
    margin-right: -10px !important;
}

/* INFOGRAFÍAS */

.mainInfografias {
    position: relative;
}

.descargarInfo {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.descargarInfo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
    transition: 0.8s;
    color: black;
    font-family: 'HeptaSlab';
}

.descargarInfo a:hover{
    transform: scale(1.05);
    transition: 0.8s;
}

.descargarInfo a svg {
    margin-bottom: 8px;
}

.descargarInfo a p { 
    margin: 0px;
    font-size: 14px;
}

.contenedorInfo {
    width: 100%;
}

/* BIOGRAFÍA */

.biograph, .bibliograph {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.biograph h1 {
    margin: 30px 0 50px;
}

.biograph img {
    margin: 25px;
}

.biograph a { 
    color: #5ec8ce;
    font-weight: 900;
}

.biograph p {
    hyphens: auto;
    font-size: 18px;
}

.biograph h2, .biograph h3, .bibliograph h2 {
    font-size: 20px;
    align-self: flex-start;
    margin: 40px 0;
}

.biographH2 h2, .bibliograph h2 {
    margin-bottom: 40px;
}

.biograph .epigraph {
    max-width: 600px;
    text-align: center;
    font-size: 14px;
}

.biograph ul li, .bibliograph ul li {
    margin: 10px 70px;
}

.biographTableMobile {
    display: none;
}

.biographTable {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    border: 1px solid grey;
    border-left: none;
    position: relative;
}

.biographTable p, .tableImg  {
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
    margin-bottom: 0px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.biographTableTitle {
    background-color: #dfe2e7;
    font-family: 'HeptaSlab B' !important;
}

.tableImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableImg img {
    width: 64px ;
    height: 64px;
}

.biograph .tableEnd {
    position: absolute;
    width: 100.2%;
    padding: 30px;
    bottom: -88px;
    text-align: center;
    border: 1px solid grey;
    border-top: none;
    background-color: #5ec8ce;
    color: black;
    font-family: 'HeptaSlab B';
    font-size: 20px;
}

.biograph .tableEnd:hover {
    background-color:  #57bac0;
}

.biographTable  .biographTableYear {
    font-family: 'HeptaSlab';
    color: grey;
}

.biograph .quotesEndH3 {
    margin-top: 140px;
}

.biograph .quote {
    font-size: 15px;
    margin-left: 70px;
}

.biograph .quotesEnd {
    font-size: 15px;
    margin-top: -20px;
}

/* LIBROS */

.books {
    margin: 70px auto;
}

.bookCards {
    display: flex;
    width: 800px;
    margin: 40px auto;
    gap: 40px;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.365);
}

.bookCardsTwo {
    flex-direction: column;
    gap: 0px
}

.bookCardsTwoFirst {
    display: flex;
    gap: 20px;
}

.bookCardsImg {
    min-width: 35%;
}



.bookCards button, .articlesContainer article button, .articlesContainerV2 article button {
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    background-color: #5ec8ce;
    color: white;
    font-family: 'HeptaSlab';
}


/* VIDEOS */

.videos {
    margin: 70px auto; 
}

.spanTitle {
    font-family: 'HeptaSlab';
    display: block;
    color: grey;
    font-size: 20px;
}

.videos h1 {
    margin: 7px 0 13px;
}

.videosContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh 60vh 60vh;
    grid-template-areas: "videoUno videoUno"
                         "videoDos videoTres"
                         "videoCuatro videoCinco";
    gap: 20px;
    padding: 30px 5% 100px;
}

.videoUno {
    grid-area: videoUno;
    width: 100%;
}

.videoDos {
    grid-area: videoDos;
}

.videoTres {
    grid-area: videoTres;
}

.videoCuatro {
    grid-area: videoCuatro;
}

.videoCinco {
    grid-area: videoCinco;
}

/* ARTÍCULOS */

.articles {
    background-color: rgba(210, 210, 210, 0.119);
    padding: 70px 0;
}

.articles h1 {
    font-size: 55px;
}

.articles .spanTitle {
    font-size: 30px;
    margin-top: 10px;
}

.articles h2 {
    font-size: 20px;
    margin: 60px 50px 30px;
}

.articlesContainerV2 {
    margin: 50px 0;
}

.articlesContainerV2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 50px;
}

.articlesContainerV2 article {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.146);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: rgb(53, 53, 53)
}

.articlesContainerV2 article p {
    margin-bottom: 8px;
}

.articleTitle {
    font-weight: 700;
    font-size: 17px;
}

.articleBttn {
    text-align: center;
    margin: 30px 0 10px
}

/* BIBLIOGRAFÍA */

.bibliograph {
    margin: 70px auto;
}

.bibliograph .ref {
    font-family:'Poppins', sans-serif;
    max-width: none;
    text-align: start;
}

.bibliograph .spanTitle {
    font-size: 30px;
}

.bibliograph ul li {
    list-style:disc;
}




.antologia {
    margin: 70px auto;
}

.antologia .spanTitle {
    font-size: 30px;
}

.antologiaBooks {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.antologiaBooks article {
    width: 19%;
    text-align: center;
}

.antologiaBooks article a {
    color: black;
    
}

.antologiaBooks article p {
    padding-top: 15px;
}

.antologiaBooks article img {
    border-radius: 3px;
}




/***** MEDIA QUERIES *****/

@media screen and (min-width: 1024px) {
    .containerLayout {
        max-width: 1368px;
        margin: 0 auto;
    }
}



/* Mobile */

@media screen and (max-width: 700px) {

    .navBar {
        padding: .5rem 0;
    }

    .navbar-brand a img {
        width: 40px;
    }

    .hero h1 span {
        font-size: 35px;
        margin-bottom: 0px;
        
    }

    .hero h1 {
        font-size: 60px;
        text-shadow: 0px 0px 10px rgb(201, 201, 201);
    }

    .hero h2 {
        font-size: 15.4px;
        text-shadow: 0px 0px 10px rgb(162, 162, 162);
    }

    .heroIMG {
        margin-top: 20px;
        display: block;
        width: 200px;
        align-self: center;
    }

    .description {
        padding: 70px 30px 20px;
    }

    .descriptionHeader {
        width: 100%;
        display: flex;
        gap:10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }

    .descriptionHeaderGif {
        width: auto;
        max-width: 70px;
        position:static;
    }

    .description h2, .infograph h2 {
        font-size: 40px;
        margin-bottom: 0px;
    }

    .description .black {
        color: white;
    }

    .infograph {
        padding: 20px 30px;
    }

    .infographContainer {
        display: block;
    }

    .infographContainer article {
        margin-bottom: 30px;
    }

    .infograph p {
        margin-top: 10px;
        hyphens: auto;
    }

    .productions {
        padding: 50px 30px;
    }

    .productions h2 {
        font-size: 35px;
        margin-bottom: 0px;
    }

    .productionsContainer {
        flex-direction: column;
    }

    .carousel {
        width: 90%;
    }

    .carousel-control-next {
        right: 0%;
    }

    .carousel-control-prev {
        left: 0%;
    }

    .carousel-indicators {
        bottom: -0%;
    }

    .d-none {
        display: block !important;
    }

    .carousel-caption.d-none.d-md-block p {
        padding: 0 20px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        margin-bottom: 100px;
    }

    .footerOne, .footerTwo {
        padding: 60px 30px;
    }

    .footerOneContainerFirst {
        grid-template-columns: 1fr 1fr;
    }

    .footerOneContainerSecond {
        display: block;
        margin-top: 0px;
    }

    .footerOneCopy {
        border-top: solid 1px grey;
        padding-top: 20px;
        margin-top: 45px;
    }

    .footerTwo {
        grid-template-columns: 100%;
        gap: 30px;
        justify-items: start;
    }

    .footerThree {
        padding: 0 30px 60px;
    }


    /* OTHER PAGES */

    /*Biograph*/
    .biograph, .books, .articles, .videos, .bibliograph, .antologia {
        padding-right: 30px;
        padding-left: 30px;
    }

    .encabezado {
        flex-direction: column-reverse;
        position: relative;
    }


    .books .encabezado h1 {
        margin-top: 0px;
    }

    .books .encabezado img {
        transform: scaleX(-1);
        opacity: 0.7;
    }

    .encabezado .encabezadoIMG, .encabezado img {
        margin-right: 0px !important;
        margin: 0px;
        position: absolute;
        left: 0px;
        z-index: -1;
    }

    .encabezado img {
        width: 140px;
        opacity: 0.9;
    }

    .encabezado h1 {
        margin-top: 60px;
        font-size: 40px !important;
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        text-align: center;
    }

    .encabezado .spanTitle {
        text-align: center;
        font-size: 16px;
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        color: black;

    }

    .infograph h2 {
        font: 30px;
        padding: 30px 0;
    }

    .biograph .quote {
        margin-left: 0px;
        color: grey;
    }

    .biograph ul li, .bibliograph ul li {
        margin: 10px 0px;
        hyphens: auto;
    }

    .biograph ul {
        max-width: 100% !important;
    }

    .biographTable {
        display: block;
        width: 100%;
    }

    .biographTable p, .biographTable img, .tableImg {
        display: none;
    }

    .biograph .tableEnd {
        bottom: -120px;
    }

    .biographTableMobile {
        display: block;
        width: 100%;
    }

    .biographTableMobile img {
        margin: 0px;
    }

    .biographIndex {
        padding: 30px 15px
    }

    .biographIndex h2 {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .biographIndex ol li {
        font-size: 14px;
    }

    .bookCards{
        flex-direction: column;
        width: 100%;
        padding: 15px;
        gap: 20px;
    }

    .bookCardsTwo {
        gap: 0px;
    }

    .bookCardsTwoFirst {
        flex-direction: column-reverse;
    }

    .bookCardsImg {
        min-width: auto !important;
    }

    .bookCardsImg img {
        border-radius: 5px;
    }

    .bookCards a {
        display: flex;
        justify-content: center;
    }

    .articles {
        padding-top: 30px;
    }

    .articles .encabezado img, .videos .encabezado img {
        left: -20px;
        top: -10px;
    }

    .articlesContainerV2 {
        grid-template-columns: 100%;
        padding: 0px;
    }

    .videos h1 {
        margin-top: 0px;
    }

    .videosContainer {
        padding: 0px;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "videoUno"
                             "videoDos"
                             "videoTres"
                             "videoCuatro"
                             "videoCinco";
    }

    .bibliograph ul {
        margin-left: 10px;
    }

    .bibliograph ul li {
        font-size: 16px;
    }

    .biographH2 h2, .bibliograph h2 {
        font-size: 18px;
    }

    .antologiaBooks {
        flex-direction: column;
        gap: 40px;
    }

    .antologiaBooks article {
        width: 100%;
    }


    .navbar-light .navbar-toggler {
        color: transparent;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        border-top: none;
        color: #5ec8ce;
    }

    .navbar-nav-scroll {
        max-height: none;
    }

    .dropdown-menu {
        border: none;
    }

    .dropdown-item {
        white-space:break-spaces;
        border-top: 1px solid rgb(212, 212, 212);
    }

    ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
        gap: 0px;
    }

}