/* 
#5ec8ce
#dfe2e7
#E0786D
*/



/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

ol, ul {
    padding-left: 0px;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'LemonMilk';
    src: url(../fonts/LEMONMILK-Medium.otf) format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'LemonMilk T';
    src: url(../fonts/LEMONMILK-Light.otf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'HeptaSlab';
    src: url(../fonts/HeptaSlab-SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'HeptaSlab B';
    src: url(../fonts/HeptaSlab-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
}

h1, .h1Title {
    font-family: 'LemonMilk';
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: 'LemonMilk';
    font-size: 60px;
    color: grey;
}

/* NAVBAR */

.navbar-brand {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar-brand div {
    width: 50px;
}

.navbar-collapse {
    flex-grow:unset;
}

ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
    gap: 25px;
}

.navBar {
    background-color: white !important;
    box-shadow: 10px 10px 10px rgb(103, 103, 103);
    padding: 0px 40px;
    z-index: 1;
}

.navbar-light .navbar-nav .nav-link {
    border-top: solid 3px transparent;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    border-top: solid 3px #5ec8ce;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #5ec8ce;
}

/* HOME */

.hero {
    padding: 40px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-image: url(../images/hero-ugarte.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.hero h2 {
    font-family: 'LemonMilk T';
    font-size: 30px;
    color: #5ec8ce;
}

.heroImg {
    width: 400px;
}

.description {
    padding: 70px 80px 90px;
    margin-bottom: 80px;
    background-color: #dfe2e7;
}

.descriptionHeader {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: -20px 0 40px;
}

.descriptionHeader h2 {
    z-index: 1;
}

.white {
    color: white;
}

.descriptionHeaderGif {
    width: 200px;
    position: absolute;
    left: 26.5%;
}

.descriptionHeaderGif img {
    border-radius: 100px;
}

.description h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'LemonMilk';
    font-size: 60px;
    color: grey;
}


.description button {
    margin: 0px auto;
    border: none;
    background-color: transparent;
    transition: 1s;
    color: #E0786D;
    font-family: 'LemonMilk';
}

.description button:hover {
    transform: translateX(20%);
    transition: 1s;
}

.infograph {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.infograph h2 {
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.infograph p, .productions p  {
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    color: rgb(136, 136, 136);
    font-family: 'HeptaSlab';
    max-width: 500px;
}

.infographContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.infographContainer article {
    width: 200px;
    transition: 1s;
}

.infographContainer article img {
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.infographContainer article:hover {
    transform: scale(1.1);
    transition: 1s;
}

.productions {
    background-color: #5ec8ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
}

.productions h2 {
    color: white;
}

.productions p {
    color: rgb(238, 238, 238);
    font-size: 18px;
    max-width: none;
}

.productionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #5ec8ce;
}

.productions a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'LemonMilk';
    gap: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.776);
    width: 250px;
    height: 250px;
    border-radius: 500px;
    box-shadow: 0px 0px 10px grey;
    text-align: center;
    transition: 2s;
}

.productionsContainer a:hover {
    transform: scale(1.1) rotate(3deg);
    transition: 1s;
}

.productions a div {
    width: 100px;
}

.carousel {
    width: 80%;
    margin: 80px auto;
}

.carousel img {
    border-radius: 10px 10px 0 0;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-control-next {
    right: -10%;
}

.carousel-control-prev {
    left: -10%;
}

.carousel-control-next-icon {
    background-image: url(../images/arrow.svg);
}

.carousel-control-prev-icon {
    background-image: url(../images/arrow-prev.svg);
}

.carousel-caption.d-none.d-md-block {
    background-color: #E0786D;
    width: 100%;
    margin: 0px;
    position: static;
    border-radius: 0 0 10px 10px;
}

.carousel-caption.d-none.d-md-block p {
    margin: 20px 0 30px;
}

/* FOOTER */

footer {
    font-family: 'Poppins', sans-serif;
}

footer a {
    color: black;
}

footer h3 {
    font-family: 'LemonMilk';
    font-size: 21px;
    margin-bottom: 20px;
}

.footerTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 40px 80px;
    background-color: #bec1c6;
}

.subMenu {
    padding-left: 20px;
}

.footerThree {
    text-align: center;
}

.footerThreeRedes {
    display: flex;
    justify-content: center;
    gap: 20px;
    opacity: 0.8;
    margin: 20px 0;
}

.footerThreeCopy {
    font-size: 14px;
}

.footerOne {
    background-color: #dfe2e7;
    padding: 40px 80px;
    width: 100%;
}

.footerOneContainer {
    display: flex;
    justify-content: space-between;
    
}




/**** OTHER PAGES ****/

/* INFOGRAFÍAS */

.mainInfografias {
    position: relative;
}

.descargarInfo {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.descargarInfo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
    transition: 0.8s;
    color: black;
    font-family: 'HeptaSlab';
}

.descargarInfo a:hover{
    transform: scale(1.05);
    transition: 0.8s;
}

.descargarInfo a svg {
    margin-bottom: 8px;
}

.descargarInfo a p { 
    margin: 0px;
    font-size: 14px;
}

.contenedorInfo {
    width: 100%;
}

/* BIOGRAFÍA */

.biograph {
    max-width: 900px;
    margin: 40px auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.biograph h1 {
    margin: 30px 0 50px;
}

.biograph img {
    margin: 25px;
    border-radius: 10px;
}

.biograph a { 
    color: #5ec8ce;
    font-weight: 900;
}

.biograph p {
    hyphens: auto;
    font-size: 18px;
}

.biograph h2, .biograph h3 {
    font-size: 20px;
    align-self: flex-start;
    margin: 40px 0;
}

.biographH2 h2 {
    margin-bottom: 40px;
}

.biograph .epigraph {
    max-width: 600px;
    text-align: center;
    font-size: 14px;
}

.biograph ul li {
    margin: 10px 70px;
}

.biograph .quote {
    font-size: 15px;
    margin-left: 70px;
}

.biograph .quotesEnd {
    font-size: 15px;
    margin-top: -20px;
}

/* LIBROS */

.books {
    margin: 70px auto;
}

.books h1 {
    margin-bottom: 60px;
}

.bookCards {
    display: flex;
    width: 700px;
    margin: 40px auto;
    gap: 40px;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.365);
}

.bookCards button, .articlesContainer article button, .articlesContainerV2 article button {
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    background-color: #5ec8ce;
    color: white;
    font-family: 'HeptaSlab';
}


/* VIDEOS */

.spanTitle {
    font-family: 'HeptaSlab';
    display: block;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.videos h1 {
    margin: 7px 0 13px;
}

.videos span {
    margin-top: 60px;
}

.videosContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh 60vh 60vh;
    grid-template-areas: "videoUno videoUno"
                         "videoDos videoTres"
                         "videoCuatro videoCinco";
    gap: 20px;
    padding: 60px 5% 100px;
}

.videoUno {
    grid-area: videoUno;
    width: 100%;
}

.videoDos {
    grid-area: videoDos;
}

.videoTres {
    grid-area: videoTres;
}

.videoCuatro {
    grid-area: videoCuatro;
}

.videoCinco {
    grid-area: videoCinco;
}

/* ARTÍCULOS */

.articles {
    background-color: rgba(210, 210, 210, 0.119);
    padding: 70px 0;
}

.articles h1 {
    font-size: 55px;
    margin: 0 0 60px;
}

.articles .spanTitle {
    font-size: 30px;
    margin-top: 10px;
}

.articles h2 {
    font-size: 20px;
    margin: 60px 50px 30px;
}

.articlesContainerV2 {
    margin: 50px 0;
}

.articlesContainerV2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 50px;
}

.articlesContainerV2 article {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.146);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: rgb(53, 53, 53)
}

.articlesContainerV2 article p {
    margin-bottom: 8px;
}

.articleTitle {
    font-weight: 700;
    font-size: 17px;
}

.articleBttn {
    text-align: center;
    margin: 30px 0 10px
}






@media screen and (min-width: 1024px) {
    .containerLayout {
        max-width: 1368px;
        margin: 0 auto;
    }
}